<div id="historyContainer" class="page-container">

  <div class="main-title">Your search history</div>

  <div class="table header">
    <div class="col1">
      Search Term
    </div>
    <div class="col2">
      Search Result
    </div>
  </div>
  

  <div class="table" *ngFor="let user of searchHistory.reverse()">
    <div class="col1">
      <div>{{user.login}}</div>
    </div>
    <div class="col2">
      <app-user-details [data]="user" [grid]=true></app-user-details>
    </div>
  </div>

  
</div>

<button (click)="clear()">Clear Search History</button>