#historyContainer {

  overflow: auto;

  .table {

    border: 1px solid gray;

    div{
      width: 50%;
    }
    .col1{
        float: left;
        div{
          margin: 40px;
        }
    }

    .col2 {
        display: inline-block;
    }
  }
  .header {
    padding: 10px 0 10px 0px;

    .col1 , .col2{
      position: relative;
      left: 40px;
      opacity: 0.7;
      font-size: 0.9em;
    }
    
  } 
  
}
button {
  width: 50%;
  padding: 5px;
  margin: auto;
  display: block;
  margin-top: 50px;
  background-color: darkseagreen;
 
}