
#app {

  .main-title{
    margin: auto;
    width: 150px;
    padding: 10px 0 ;
    margin-bottom: 10px;
  }

  margin: 50px;
  .navigationTab{

    border-bottom: 1px solid gray;

    margin: 20px 0;
      display: inline-block;
      width: 100%;
  
    span {
      float: right;
      padding: 10px 50px;
      cursor: pointer;
    }
  
    .highlight {
      border-bottom: 2px solid blue;
    }
  }

  .page-container {
    margin: auto;
    width: 80%;
    height: 600px;
    border: 1px solid green;
    padding: 20px;
    margin-top: 30px;
  }

}
