.navigationTab{

  margin: 20px 0;
    display: inline-block;
    width: 100%;

  span {
    float: right;
    padding: 10px 10px;
    cursor: pointer;
  }

  highlight {
    border-bottom: 2px solid blue;
  }
}