#homeContainer {

  .input-icons {
      width: 50%;
      margin: auto;
      margin-bottom: 10px;
      position: relative;
  }
    
  .icon {
      padding: 10px;
      min-width: 40px;
  }
    
  .input-field {
      width: 85%;
      padding: 10px;
      padding-left: 40px;
  }

  .i-holder {
    position: relative;
    width: 76%;
    margin: auto;
  }

  i {
    position: absolute;
    top: 2px;
    left: 5px;
  }

  button {
    width: 50%;
    padding: 5px;
    margin: auto;
    display: block;
    margin-top: 50px;
    background-color: darkseagreen;
  }

  .main{
    margin-top: 50px;
  }
}